
<div class="sidebar" collapsed="no">
    <h2 style="margin-top:40px">IAL Physics - Notes & Past Paper by Topic Compilation</h2>
    <ul>
        <li>
            <a href="#" class="active" data-content="home">Home</a>
        </li>
        <div class="Unit" text="Unit 5">
            <li>
                <a href="#" data-content="Thermodynamics">5.3 Thermodynamics</a>
                <small>Completed? </small><label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <a href="#" data-content="NuclearDecay">5.4 Nuclear Decay</a>
                <small>Completed? </small><label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <a href="#" data-content="Oscillations">5.5 Oscillations</a>
                <small>Completed? </small><label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <a href="#" data-content="Astrophysics">5.6 Astrophysics and Cosmology</a>
                <small>Completed? </small><label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <a href="#" data-content="Miscellaneous">Miscellaneous</a>
                <small>Completed? </small><label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
        </div>
    </ul>
</div>